.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  width: 300px;
  padding: 20px;
  background-color: #f2f2f2;
}

.input-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#result {
  flex: 1;
  margin-right: 10px;
  padding: 5px;
  font-size: 20px;
}

.history {
  margin-bottom: 10px;
}

.history h3 {
  margin-top: 0;
}

.history ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.history li {
  margin-bottom: 5px;
}

.button-row {
  display: flex;
}

.button-row input[type="button"] {
  flex: 1;
  margin-right: 2%;
  width: 25%;
  height: 50px;
  font-size: 16px;
}